header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}


#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.product-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.product-images {
  object-fit: cover;
}



.product-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.product-details {
  padding: 15px;
}

.product-details h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.product-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}



.modal {
  display: none; /* Initially hide the modal */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal horizontally and vertically */
  width: 70%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width if required */
  height: auto; /* Allow height to adjust based on content */
  max-height: 80%; /* Set a maximum height if required */
  background-color: rgb(255, 255, 255);
  padding: 20px; /* Add padding for content */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Add any additional styles as needed */


.modal-content {
  font-weight: bold;
  object-fit: cover;
}



