header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}


#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.product-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.product-images {
  object-fit: cover;
}



.product-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.product-details {
  padding: 15px;
}

.product-details h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.product-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}



.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



